body {
    background: url("farm.webp");
    background-size: 1920px 1080px;
    padding-top: 40px;
  
}

Headline {
  display: block;
  color: red;
  font-size: 100px;
  text-align:center;
  text-shadow: 10px 10px #9F9393;
/*   font-weight: bold; */
  font-family: 'Pacifico', cursive;
  
}

Essay {
  font-size: 20px;
  color: white;
  line-height: 1.5;
}

input[type="checkbox"] {
    content: url('http://placekitten.com/200/210');
    display: block;
    width: 200px;
    height: 200px;
}
input[type="checkbox"]:checked {
    content: url('http://placekitten.com/210/220');
}


.right{
  position:absolute;
  right:0px;
  width:200px;

}